#Ignore Private Files
*.json
private.*
*.txt

#Ignore Working Files
test.*
testdata.*
Log/
Old/

#Ignore Data Collected
*.csv
*.xlsx
*.jpeg
*.png
*.jpg
Daily/
Graphs/

#Ignore Old Shell Files
*.sh

#Ignore Other Files
__pycache__/
exclude/
www/
Topo/