#Ignore Private Files
.json
private.*
.txt

#Ignore Working Files
test.*
testdata.*
Log/
Old/

#Ignore Data Collected
.csv
.jpeg
.png
.jpg
Daily/
Graphs/

#Ignore Old Shell Files
.sh

#Ignore Other Files
__pycache__/
exclude/
Topo/